
# =================== #
# User-specific files #
# =================== #
*.suo
*.user
*.userosscache
*.sln.docstates

# ================================================ #
# User-specific files (MonoDevelop/Xamarin Studio) #
# ================================================ #
*.userprefs

# ============= #
# Build results #
# ============= #
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Ss]witchIL2CPPStats/
[Ss]witchIL2CPPCache/

bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# ================================= #
# ReSharper is a .NET coding add-in #
# ================================= #
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# ========================================== #
# Visual Studio 2015 cache/options directory #
# ========================================== #
.vs/

# =================== #
# MSTest test Results #
# =================== #
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Ll]ibrary/
*.stackdump
 sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
.vsconfig
*.csproj
*.userprefs
*.pidb
*.suo
*.sln*
*.user
*.unityproj
*.booproj
*.htm
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes

ehthumbs.db
[Tt]humbs.db
*.apk
*.exe

# ========== #
# Exclusions #
# ========== #
!*.obj

[Bb]uilds/
[Rr]ecordings/

/[Uu]ser[Ss]ettings/
/[Ll]ogs/